@import '../../variables';

@mixin background-image-container($indent, $border-radius) {
    display: grid;
    grid-gap: $indent;
    padding: calc($indent * 2);
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    background-image: var(--title-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    ::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(9, 35, 51);
        opacity: .15;
        z-index: -1;
    }
}

.page {
    &.page_home {
        .page__section {
            background-color: white;
            border-radius: $base-border-radius;
            padding: $base-indent;

            &.page__section_main-info {
                display: flex;
                gap: $base-indent;
                flex-direction: column;

                .page__np,
                .page-description {
                    @include background-image-container($base-indent, $base-border-radius);
                    color: white;
                }

                .page-description {
                    grid-template-areas: 'title' 'subtitle';
                }

                .page__np {
                    grid-template-areas: 'logo title' 'logo subtitle';

                    .page__logo {
                        grid-area: logo;
                    }
                }

                .page__title {
                    grid-area: title;
                }

                .page-subtitle {
                    grid-area: subtitle;
                    padding-left: 1rem;
                    margin: unset;

                    .page-subtitle__text {
                        font-size: var(--home-subtitle-font-size);
                        margin: 4px 0;
                        line-height: 1.3;
                    }
                }

                .page-images {
                    display: grid;
                    grid-gap: $base-indent;
                    grid-template-columns: repeat(4, 1fr);

                    .page-images__item {
                        border-radius: $base-border-radius;
                        object-fit: cover;
                        z-index: 1;
                        height: 250px;
                        width: 100%;
                    }
                }

                .page__note {
                    font-size: var(--home-note-font-size);
                }
            }
        }
    }
}